.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #e5e7eb;
  /* Unfocused outline color */
}

/* Hover state */
.mat-form-field-appearance-outline:hover .mat-form-field-outline {
  color: #6b82ff;
  /* Hover outline color */
}

/* Focused state */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: #3f51b5;
  /* Focused outline color */
}
