@import "../assets/fonts/proxima-nova/stylesheet";
@import "./dy-tailwind.scss";
@import "./dy-material.scss";
@import "./dy-icons.scss";
@import "./dy-fonts.scss";
@import "./dy-color.scss";

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  background-color: white !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  background-color: white !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  background-color: white !important;
}

mat-form-field mat-label {
  background-color: rgba(255, 255, 255, 0.9);
}

.mat-form-field-appearance-outline:not(.mat-form-field-disabled)
  .mat-form-field-flex:hover
  .mat-form-field-outline {
  opacity: 1 !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
